{% extends 'base.html' %}

{% load static %}

{% block title %} Cart {% endblock %}

{% block content %}

<section class="section-content padding-y bg">
	<div class="container">
		<div class="row">
			<aside class="col-lg-9">
				<div class="card">
					<table class="table table-borderless table-shopping-cart">
						<thead class="text-muted">
							<tr class="small text-uppercase">
								<th scope="col">Product</th>
								<th scope="col" width="120">Quantity</th>
								<th scope="col" width="120">Price</th>
								<th scope="col" class="text-right" width="200"> </th>
							</tr>
						</thead>
						<tbody>
							{% for item in cart_items %}
							<tr>
								<td>
									<figure class="itemside align-items-center">
										<div class="aside"><img src="{{ item.product.image.url }}" class="img-sm"></div>
										<figcaption class="info">
											<a href="{{ item.product.get_absolute_url }}" class="title text-dark">{{ item.product.name }}</a>
										</figcaption>
									</figure>
								</td>
								<td>
									<div class="col">
										<div class="input-group input-spinner">
											{{ item.quantity }}
										</div>
									</div>
								</td>
								<td>
									<div class="price-wrap">
										<var class="price">{{ item.product.get_price_type_display }} {{ item.product.discount_price|floatformat:0 }}</var>
										<small class="text-muted"> {{ item.product.get_price_type_display }} {{ item.product.price|floatformat:0 }} each </small>
									</div>
								</td>
								<td class="text-right">
									<a href="{% url 'remove_from_cart' item.pk %}" class="btn btn-danger"> Remove</a>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</aside>
			<aside class="col-lg-3">
				<div class="card">
					<div class="card-body">
						<dl class="dlist-align">
							<dt>Sub total price:</dt>
							<dd class="text-right">${{ cart_sub_total_price }}</dd>
						</dl>
						<dl class="dlist-align">
							<dt>Total:</dt>
							<dd class="text-right text-dark b"><strong>${{ cart_total_price }}</strong></dd>
						</dl>
						<hr>
						<p class="text-center mb-3">
							<img src="{% static '' %}./images/misc/payments.png" height="26">
						</p>
						<a href="./place-order.html" class="btn btn-primary btn-block"> Checkout </a>
						<a href="{% url 'store_page' %}" class="btn btn-light btn-block">Continue Shopping</a>
					</div>
				</div>
			</aside>
		</div>
	</div>
</section>

{% endblock %}