{% extends 'base.html' %}

{% load static %}

{% block title %} GreatKart Product Detail {% endblock %}

{% block content %}

<section class="section-content padding-y bg">
	<div class="container">
		<div class="card">
			<div class="row no-gutters">
				<aside class="col-md-6">
					<article class="gallery-wrap">
						<div class="img-big-wrap">
							<a href="{{ product.image.url }}"><img src="{{ product.image.url }}"></a>
						</div>
					</article>
				</aside>
				<main class="col-md-6 border-left">
					<article class="content-body">
						<h2 class="title">{{ product.name }}</h2>
						<div class="mb-3">
							<var class="price h4">{{ product.get_price_type_display }} {{ product.discount_price|floatformat:0 }}</var>
						</div>
						<p>{{ product.description }}</p>
						<hr>
						<a href="#" class="btn  btn-primary"> <span class="text">Add to cart</span>
							<i class="fas fa-shopping-cart"></i> </a>
					</article>
				</main>
			</div>
		</div>
	</div>
</section>

</body>

</html>

{% endblock %}