{% extends "base.html" %}

{% load static %}

{% block title %} Sign in {% endblock %}

{% block content %}

<section class="section-content padding-y">
	<div class="card mx-auto" style="max-width:520px; margin-top:40px;">
		<article class="card-body">
			<header class="mb-4">
				<h4 class="card-title">Sign in</h4>
			</header>
			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
						{{ message }}
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				{% endfor %}
			{% endif %}
			<form method="POST">
				{% csrf_token %}
				<div class="form-group">
					<label>Username</label>
					<input type="text" name="username" class="form-control" required>
				</div>
				<div class="form-group">
					<label>Password</label>
					<input type="password" name="password" class="form-control" required>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-block"> Sign in </button>
				</div>
			</form>
		</article>
	</div>
	<p class="text-center mt-4">Don't have an account? <a href="{% url 'sign_up' %}">Sign up</a></p>
</section>

{% endblock %}
