{% extends 'base.html' %}

{% load static %}

{% block title %} Store {% endblock %}

{% block content %}

<section class="section-pagetop bg">
	<div class="container">
		<h2 class="title-page">Our Store</h2>
	</div>
</section>

<section class="section-content padding-y">
	<div class="container">
		<div class="row">
			<aside class="col-md-3">
				<div class="card">
					<article class="filter-group">
						<header class="card-header">
							<a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
								<i class="icon-control fa fa-chevron-down"></i>
								<h6 class="title">Categories</h6>
							</a>
						</header>
						<div class="filter-content collapse show" id="collapse_1" style="">
							<div class="card-body">
								<ul class="list-menu">
									{% for cat in categories %}
									<li><a href="/?cat={{ cat.slug }}">{{ cat.name }} </a></li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</article>
				</div>
			</aside>
			<main class="col-md-9">
				<header class="border-bottom mb-4 pb-3">
					<div class="form-inline">
						<span class="mr-md-auto">{{ products_count }} Items found </span>
					</div>
				</header>
				<div class="row">
					{% for product in products %}
					<div class="col-md-4">
						<figure class="card card-product-grid">
							<div class="img-wrap">
								<img src="{{ product.image.url }}">
							</div>
							<figcaption class="info-wrap">
								<div class="fix-height">
									<a href="/detail/{{ product.slug }}" class="title">{{ product.name }}</a>
									<div class="price-wrap mt-2">
										<span class="price">{{ product.discount_price|floatformat:0 }} {{ product.get_price_type_display }}</span>
										<del class="price-old">{{ product.price|floatformat:0 }} {{ product.get_price_type_display }}</del>
									</div>
								</div>
								<a href="{% url 'add_to_cart' product.pk %}" class="btn btn-block btn-success">Added to cart </a>
							</figcaption>
						</figure>
					</div>
					{% endfor %}
				</div>
			</main>
		</div>
	</div>
</section>

{% endblock %}